<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>

<div *ngIf="product">
    <h2>Product Details</h2>
    <div><span>Id: </span>{{product.id}} </div>
    <br>
    <h3>Manufacturing Plan of Product</h3>
    <div><span>Id: </span>{{mp.id}} </div>
    <div><span>Description: </span>{{mp.description}} </div>
    <br>
    <br>
    <h2>Order</h2>
    Quantity: <input #quantity />
    <button (click)="order(quantity.value)">Order</button>

    <div *ngIf="error">
        <br />
        <label style="color: red;">{{error}}</label>
    </div>


    <br>
    <br>
    <button (click)="goBack()">go back</button>
</div>