<div *ngIf="isLoggedIn && isAdmin">
    <admin-panel></admin-panel>
</div>

<div *ngIf="isLoggedIn && !isAdmin">
    <customer-panel></customer-panel>
</div>

<!-- <div *ngIf="!isLoggedIn">
    <signin (login)="onLogin($event)"></signin>
</div> -->