<div *ngIf="operation">
  <h2>Operation details</h2>
  <div><span>id: </span>{{operation.id}} </div>
  <div><span>duration: </span>{{operation.duration}}</div>
  <button (click)="goBack()">go back</button>
</div>