<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>
<router-outlet></router-outlet>

<h3>Shop</h3>
<b>Select a product to order: </b>
<select (change)="setProduct($event.target.value)">
    <option *ngFor="let product of products" value={{product.id}}>
        Product: {{product.id}}
    </option>
</select>

<br/>
<br/> Quantity: <input #quantity />
<br/>
<br/>
<button (click)="order(quantity.value)">Order</button>

<div *ngIf="error">
    <br/>
    <label style="color: red;">{{error}}</label>
</div>