<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>
<router-outlet></router-outlet>