<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>

<table matSort (matSortChange)="sortData($event)" matSortActive="id">
    <tr>
      <th mat-sort-header="id">Product ID</th>
      <th mat-sort-header="orders">Number of orders</th>
      <th mat-sort-header="quantity">Quantity</th>
    </tr>
  
    <tr *ngFor="let product of sortedData">
      <td><a routerLink="order/{{product.id}}">
        <span class="badge">Product: {{product.id}}</span>
      </a></td>
      <td style="text-align: center;">{{calculateNumberOfOrdersOfProduct(product.id)}}</td>
      <td style="text-align: center;">{{calculatQuantityOfProduct(product.id)}}</td>
    </tr>
  </table>