<h2>Operations</h2>
<div>
  <label>Duration:
    <input  type="operationDuration" ng-model="operationDuration" #operationDuration id= "operationDuration" />
  </label>
  <br />
  <label>Machine type ids (ex.: "1 2 3"):
    <input #operationMachineTypeIds  id= "operationMachineTypeIds" />
  </label>
  <br />
  <button
  id = "operationAdd"
    (click)="addOperation(operationDuration.value, operationMachineTypeIds.value); operationDuration.value= operationMachineTypeIds.value=''">
    Add
  </button>
  <div *ngIf="error">
    <br />
    <label style="color: red;">{{error}}</label>
  </div>
</div>

<ul class="mdf">
  <li *ngFor="let operation of operations">
    <a routerLink="/mdf/operation-detail/{{operation.id}}">
      <span class="badge">Operation: {{operation.id}}</span>
    </a>
  </li>
</ul>