<h2>Machines</h2>
<div>
  <label>Position:
    <input #machinePosition />
  </label>
  <br />
  <label>Machine type id:
    <input #machineMachineTypeId />
  </label>
  <br />
  <button (click)="addMachine(machinePosition.value, machineMachineTypeId.value)">
    Add
  </button>
  <div *ngIf="error">
      <br/>
      <label style="color: red;">{{error}}</label>
    </div>
</div>

<ul class="mdf">
  <li *ngFor="let machine of machines">
    <a routerLink="/mdf/machine-detail/{{machine.id}}">
      <span class="badge">Machine: {{machine.id}} </span>
    </a>
  </li>
</ul>