<h2>Registration</h2>
<div *ngIf="!registered">
    <label>Name:<input #name /></label>
    <br />
    <label>Address:<input #address /></label>
    <br />
    <label>Password:<input  type="password" #password /></label>
    <br />
    <button (click)="signUp(name.value, address.value, password.value)">Register</button>
    <div *ngIf="error">
        <br/>
        <label style="color: red;">{{error}}</label>
    </div>
</div>

<div *ngIf="registered">
    <br/>
    <label style="color: green;">Your account has been successfully created. You can sign in now.</label>
</div>