<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>
<router-outlet></router-outlet>

<h3>Orders</h3>
<ul class="orders">
    <li *ngFor="let order of orders">
        <a routerLink="/om/all-my-orders/order-edit/{{order._id}}">
            <b>Product:</b> {{order.product}}
            <b>Status:</b> {{order.status}} 
            <b>Quantity:</b> {{order.quantity}}
            <b>Created:</b> {{ stringAsDate(order.timestamp) | date:' dd.MM.yyyy HH:mm:ss' }}
            <b>Delivery Day:</b> <a *ngIf="hasProp(order, 'deliveryDay'); else noDeliveryDay">{{ stringAsDate(order.deliveryDay) | date:' dd.MM.yy' }}</a>
        </a>
    </li>
</ul>

<ng-template #noDeliveryDay> - </ng-template>