<div *ngIf="product">
    <h2>Product Details</h2>
    <div><span>Id: </span>{{product.id}} </div>
    <h3>Manufacturing Plan of Product</h3>
    <div><span>Id: </span>{{mp.id}} </div>
    <div><span>Description: </span>{{mp.description}} </div>

    <button (click)="goBack()">go back</button>
</div>