<nav>
    <a routerLink="/om/catalog">Catalog</a>
    <a routerLink="/om/shop">Shop</a>
    <a routerLink="/om/orders">Orders</a>
    <a routerLink="/om/settings">Settings</a>
</nav>
<router-outlet></router-outlet>

<br />
<div *ngIf="customer && !isEditing">
    <h3>My data</h3>
    <div>name: {{customer.name}}</div>
    <div>address: {{customer.address}}</div>
    <button (click)="edit()">Edit</button>
</div>

<div *ngIf="customer && isEditing">
    <h3>My data</h3>
    <div>name: <input [(ngModel)]="editCustomer.name" /></div>
    <div>address: <input [(ngModel)]="editCustomer.address" /></div>
    <button (click)="save()">Save</button>
</div>


<div *ngIf="error">{{error}}</div>