<div *ngIf="productionLine">
    <h2>Production line details</h2>
    <div><span>id: </span>{{productionLine.id}} </div>
    <div><span>Machines ids: </span>{{productionLine.machinesIds}}</div>
    <button (click)="goBack()">go back</button>
</div>