<br />
<div *ngIf="customer && !isEditing">
    <h3>Customer {{customer.name}}</h3>
    <div>name: {{customer.name}}</div>
    <div>address: {{customer.address}}</div>
    <button (click)="edit()">Edit</button>
</div>

<div *ngIf="customer && isEditing">
    <h3>Editing customer</h3>
    <div>name: <input [(ngModel)]="editCustomer.name" /></div>
    <div>address: <input [(ngModel)]="editCustomer.address" /></div>
    <button (click)="save()">Save</button>
</div>

<br />
<button (click)="goBack()">Go to customers list</button>