<h2>Sign in</h2>
<div>
    <label>Name:
    <input #name />
  </label>
    <br />
    <label>Password:
    <input  type="password" #password />
  </label>
    <br />
    <button (click)="signIn(name.value, password.value)">Sign in</button>
    <div *ngIf="error">
        <br/>
        <label style="color: red;">{{error}}</label>
    </div>
</div>