<h2>Production lines</h2>
<div>
  <label>Machines ids (ex.: "1 2 3"):
    <input #machineTypeIds />
  </label>
  <br />
  <button (click)="addProductionLine(machineTypeIds.value); machineTypeIds.value=''">
    Add
  </button>
  <div *ngIf="error">
    <br />
    <label style="color: red;">{{error}}</label>
  </div>
</div>

<ul class="mdf">
  <li *ngFor="let productionLine of productionLines">
    <a routerLink="/mdf/productionline-detail/{{productionLine.id}}">
      <span class="badge">Production line: {{productionLine.id}}</span>
    </a>
  </li>
</ul>