      <nav>
        <a routerLink="/om/customer-orders/{customer.id}">Orders</a>
        <a routerLink="/om/customer-edit/{customer.id}">Settings</a>
      </nav>
      

      <h2>Products</h2>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="product/detail/{product.id}">
      <span class="badge">Product: {{product.id}}</span>
    </a>
  </li>
</ul>
      
      <!-- <h2>Orders</h2>
      <ul class="orders">
        <li *ngFor="let order of orders"> <a routerLink="/om/customer-orders-detail/{{customer.id}}">
          <label>status:
            <select>
              <option ng-repeat="order.status">{{order.status}}</option>
            </select>
          </label>
          <label> quantity:
            <input [(ngModel)]="order.quantity" placeholder="quantity" />
          </label>
          <br>
        </a>
        </li>
        <br>
        <button (click)="save()">save</button>
        <button (click)="goBack()">go back</button>
      </ul> -->
      
      <!-- <div *ngIf="customer">
        <div *ngIf="orders">
      
          <h3>Orders of Customer {{customer.name}}</h3>
          <div>
            <label>status:
              <input [(ngModel)]="order.status" placeholder="status" />
            </label>
            <br>
            <br>
            <label>quantity:
              <input [(ngModel)]="order.quantity" placeholder="quantity" />
            </label>
          </div>
          <br>
          <button (click)="goBack()">go back</button>
          <button (click)="save()">save</button>
        </div>
      </div> -->