<div *ngIf="machinetype">

  <h2>Details for machine type {{machinetype.id}}</h2>
  <div><span>id: </span>{{machinetype.id}} </div>
  <div><span>description: </span>{{machinetype.description}} </div>

  <h3>Operations of machine type</h3>
  <div *ngIf="machinetypeOperations">
    <ul class="mdf">
      <li *ngFor="let operation of machinetypeOperations">
        <div><span>id: </span>{{operation.id}} </div>
        <div><span>duration: </span>{{operation.duration}} </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!machinetypeOperations">
    This machine type has no operations
  </div>

  <h3>Machines of machine type</h3>
  <div *ngIf="machinetypeMachines">
    <ul class="mdf">
      <li *ngFor="let machine of machinetypeMachines">
        <div><span>id: </span>{{machine.id}} </div>
        <div><span>position: </span>{{machine.position}} </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!machinetypeMachines">
    This machine type has no machines
  </div>

  <label>Change operations (enter ids like "1 2 3")</label>
  <br />
  <input #operationsIds />
  <button (click)="save(operationsIds.value)">Save</button>
  <br />
  <button (click)="goBack()">go back</button>
</div>