<br />
<div *ngIf="order && !isEditing">
    <h3>Order</h3>
    <div *ngIf="order.product">product: {{order.product}}</div>
    <div>status: {{order.status}}</div>
    <div>quantity: {{order.quantity}}</div>
    <div>created:{{ stringAsDate(order.timestamp) | date:' dd.MM.yyyy HH:mm:ss' }}</div> 
    <div>delivery day: <a *ngIf="hasProp(order, 'deliveryDay'); else noDeliveryDay">{{ stringAsDate(order.deliveryDay) | date:' dd.MM.yyyy' }}</a> </div> 
    <div *ngIf="order.customer">ordered by: {{order.customer.name}}</div>
    <button *ngIf="order.status != 'canceld'" (click)="edit()">Edit</button>
    <button *ngIf="order.status != 'canceld'" (click)="cancel()">Cancel order</button>
</div>

<div *ngIf="order && isEditing">
    <h3>Editing order</h3>
    <div *ngIf="order.product">product: {{order.product}}</div>
    <div>status: {{order.status}}</div>
    <div>quantity: <input [(ngModel)]="editOrder.quantity" /></div>
    <div>created:{{ stringAsDate(order.timestamp) | date:' dd.MM.yyyy HH:mm:ss' }}</div>
    <div>
            delivery day:
            <input type="date" [(ngModel)]="editOrder.deliveryDay"/> 
                <a *ngIf="!validDate" style="color: red" ng-show="myForm.input.$error.date"> Day must be in the future.</a>
    </div>
    <div *ngIf="order.customer">ordered by: {{order.customer.name}}</div>
    <button (click)="save()">Save</button>
</div>

<br />
<button (click)="goBack()">Go to orders list</button>


<ng-template #noDeliveryDay> - </ng-template>