<h2>Products</h2>

<div>
  <label>Product manufacturingPlanId:
    <input #manufacturingPlanId />
  </label>
  <button (click)="addProduct(manufacturingPlanId.value); manufacturingPlanId.value=''">
    add a product with manufacturingPlanId
  </button>
</div>

  <table matSort (matSortChange)="sortData($event)" matSortActive="id">
    <tr>
      <th mat-sort-header="id">Product ID</th>
      <th mat-sort-header="orders">Number of orders</th>
      <th mat-sort-header="quantity">Quantity</th>
      <!-- <th mat-sort-header="productionline">Length of productionline</th> -->
    </tr>
  
    <tr *ngFor="let product of sortedData">
      <td><a routerLink="product/detail/{{product.id}}">
        <span class="badge">Product: {{product.id}}</span>
      </a></td>
      <td style="text-align: center;">{{calculateNumberOfOrdersOfProduct(product.id)}}</td>
      <td style="text-align: center;">{{calculatQuantityOfProduct(product.id)}}</td>
      <!-- <td style="text-align: center;">{{product.productionline}}</td> -->
    </tr>
  </table>