<h1 class="content">{{title}}</h1>

<div *ngIf="isLoggedIn && isAdmin">
    <nav>
        <a routerLink="/mdf">MDF</a>
        <a routerLink="/mdp">MDP</a>
        <a routerLink="/om">OM</a>
        <a routerLink="/authorization-settings">Authorization</a>
    </nav>
</div>

<div *ngIf="isLoggedIn && !isAdmin">
    <nav>
        <a routerLink="/om">OM</a>
    </nav>
</div>

<div *ngIf="!isLoggedIn && !isSignUp">
    <signin (login)="onLogin($event)"></signin>
    <br />
    <br />
    <button (click)="goToSignUp()">Create a new account</button>
</div>

<div *ngIf="!isLoggedIn && isSignUp">
    <signup></signup>
    <br />
    <br />
    <button (click)="goToSignIn()">Go to sign in</button>
</div>


<div *ngIf="isLoggedIn">
    <router-outlet></router-outlet>
</div>