<h3>Customer peermission:</h3>
<section class="example-section">
    <div><mat-checkbox class="example-margin" [(ngModel)]="updateOrder" (click)="setUpdateOrder()">updateOrder</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="insertOrder" (click)="setInsertOrder()">insertOrder</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="consultOrder" (click)="setConsultOrder()">consultOrder</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="consultAllOrders" (click)="setConsultAllOrders()">consultAllOrders</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="updateCustomer" (click)="setUpdateCustomer()">updateCustomer</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="consultCustomer" (click)="setConsultCustomer()">consultCustomer</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="consultAllCustomers" (click)="setConsultAllCustomers()">consultAllCustomers</mat-checkbox></div>
    <div><mat-checkbox class="example-margin" [(ngModel)]="consultAllCustomerOrders" (click)="setConsultAllCustomerOrders()">consultAllCustomerOrders</mat-checkbox></div>
</section>