<div *ngIf="machine">
    <h2>Details for machine {{machine.id}}</h2>
    <div><span>id: </span>{{machine.id}} </div>
    <div><span>position: </span>{{machine.position}} </div>
    <div><span>machineTypeId: </span>{{machine.machineTypeId}} </div>
    <div><span>is active: </span>{{machine.isActive}} </div>

    <h4> change machinetype of machine here: </h4>
    <label>put in new machinetype:
    <input [(ngModel)]="machineToUpdate.machineTypeId" placeholder="new machinetype id" />
  </label>

    <button (click)="save()">save</button>
    <br>
    <br>

    <button *ngIf="!machine.isActive" (click)="turnOn()">Turn machine on</button>
    <button *ngIf="machine.isActive" (click)="turnOff()">Turn machine off</button>
    
    <br>
    <button (click)="goBack()">go back</button>
</div>