<nav>
    <a routerLink="/om/all-orders">Orders</a>
    <a routerLink="/om/customers">Customers</a>
</nav>
<br />
<h3>Customers</h3>
<div style="overflow-y: scroll; height:400px;">
    <ul class="customers">
        <li *ngFor="let customer of customers">
            <a routerLink="/om/customer-edit/{{customer._id}}">
                <span class="badge"> name: {{customer.name}}</span>
            </a>
        </li>
    </ul>
</div>