<h2>Machine types</h2>
<div>
  <label>Description:
    <input #machinetypeDescription />
  </label>
  <br />
  <label>Operation ids (ex.: "1 2 3"):
    <input #machinetypeOperationsIds />
  </label>
  <br />
  <button
    (click)="addMachineType(machinetypeDescription.value, machinetypeOperationsIds.value); machinetypeDescription.value= machinetypeOperationsIds.value=''">
    Add
  </button>
  <div *ngIf="error">
    <br/>
    <label style="color: red;">{{error}}</label>
  </div>
</div>

<ul class="mdf">
  <li *ngFor="let machinetype of machinetypes">
    <a routerLink="/mdf/machinetype-detail/{{machinetype.id}}">
      <span class="badge">Machinetype: {{machinetype.id}} </span>
    </a>
  </li>
</ul>