<nav>
    <a routerLink="/om/all-orders">Orders</a>
    <a routerLink="/om/customers">Customers</a>
</nav>

<br />
<h3>All orders</h3>
<div style="overflow-y: scroll; height:400px;">
    <ul>
        <li *ngFor="let order of orders">
            <a routerLink="/om/all-orders/order-edit/{{order._id}}">
                <span class="badge">
                <span *ngIf="order.product">
                    <b>Product:</b> {{order.product}}</span>
                    <b>Status:</b> {{order.status}} 
                    <b>Quantity:</b> {{order.quantity}}
                    <b>Created:</b> {{ stringAsDate(order.timestamp) | date:' dd.MM.yyyy HH:mm:ss' }}
                    <b>Delivery Day:</b> <a *ngIf="hasProp(order, 'deliveryDay'); else noDeliveryDay">{{ stringAsDate(order.deliveryDay) | date:' dd.MM.yy' }}</a>
                </span>
            </a>
        </li>
    </ul>
</div>

<ng-template #noDeliveryDay> - </ng-template>